{% extends 'base.html' %} {% block content %}
<form method="post" class="main-form">
  <h3>Enter The <span style="color: magenta;">Chat Room</span></h3>
  <div>
    <label>Name:</label>
    <input
      type="text"
      class="nickname"
      placeholder="Pick a nickname!"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
    <button type="submit" name="join">Join a Room</button>
  </div>
  <button type="submit" name="create" class="create-btn">Create a Room</button>
  {% if error %}
    <span class="error">{{error}}</span>
  {% endif %}
</form>
{% endblock %}
